* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Jura", sans-serif;
    background: linear-gradient(180deg, #154580 0%, #041833 100%);
    color: white;
    height: 100vh;
    width: 100vw;
  }
  
  .titulo {
    position: absolute;
    top: 30px;
    left: 180px;
    font-size: 34px;
    font-weight: bold;
    text-decoration: underline 3px;
    text-underline-offset: 25px;
  }
  
  .quadros__container {
    width: 1150px;
    height: 600px;
    position: absolute;
    left: 176px;
    top: 120px;
    background: #525c63d8;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  