/* Variveis que se colocam para que possar se utilizar mais a frente, tipo paleta de cores do site */
:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
  --fonte-principal: "Inter";
  --botao-azul-efeito: #3c92fa;
}

/* Retira todos os espaçamentos e faz o arquivo html se comportar como caixa */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colocando a cor de fundo e da escrita */
body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

/* Colocando imagem através do background-image, pois não tem uma informação importante para se colocar na tag image, os código em sequencia significa, não repetir a imagem e preencher o espaço faltando */
.principal {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}
/* Container é uma tag junto com a principal, basicamente ele faz com que o view port do navegador seja 100%, com isso de qualquer dispositivo que você abra ele estará da mesma forma */
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__caixa {
  margin: 0 6em;
}

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--branco-principal);
  margin-bottom: 0.1em;
}

.descricao__texto {
  color: var(--cinza-secundario);
}

.secundario_botao {
  display: inline-block;
  margin-top: 1em;
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 48px;
  color: var(--branco-principal);
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.lista__item {
  font-size: 32px;
  color: var(--branco-principal);
}

.rodape {
  text-align: center;
  margin: 5em 3em;
}

.rodape__logo {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  margin: 5px 0 40px 0;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  margin-top: 1em;
}

.lista__link a {
  text-decoration: none;
  color: var(--branco-principal);
  margin-left: 1em;
}

.rodape__texto {
  margin: 1em 0;
  color: var(--cinza-secundario);
  font-size: 14px;
  text-align: center;
}

.lista__link a:hover {
  color: var(--botao-azul);
}

.lista__link a:active {
  color: purple;
}

.container__botao:hover {
  background-color: var(--botao-azul-efeito);
  color: var(--cor-de-fundo);
}

@media screen and (min-width: 768px) {
  .container {
    display: block;
    background-image: none;
  }

  .container__imagem {
    width: 50vw;
  }

  .container__caixa {
    margin: 2em;
  }

  .secundario {
    margin: 0;
    text-align: center;
  }

  .secundario__imagem {
    width: 50vw;
  }

  .dispositivos__lista{
    display: block;
  }

  .rodape__lista{
    display: block;
  }
}
